html, body {
    margin: 0;
  }
  
  h1 {
    font-family: 'Consolas', monospace;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 96px;
  }
  
  p {
    font-family: 'Consolas', monospace;
    font-weight: 300;
    font-size: 32px;
    color: #838C96;
  }

  .highlight_header {
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: 96px;
    color: #368CF9;
  }

  .highlight {
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    color: #ADBAC7;
  }

  .body {
    position: relative;
    text-align: center;
    height: 100vh;
    color: #ADBAC7;
    background: #22272E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .blinking{
    animation:blinkingText 1.2s infinite;
  }

  @keyframes blinkingText{
    0%{     color: #368CF9;    }
    49%{    color: #368CF9; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #368CF9;    }
  }

  /* unvisited link */
  a:link {
    color: #368CF9;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #0349B4;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #0349B4;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #368CF9;
    text-decoration: none;
  }
  
  /*Shrinking for mobile*/
  
  @media (max-width: 768px) {
    h1 {
      font-size: 56px;
    }
    p {
      font-size: 24px;
    }
  }