:root {
    --lightgrey: #eeeeee;
    --darkgrey: #595959;
    --white: #ffffff;
    --black: #000000;
}

html, body {
    background: var(--white);
    color: var(--black);
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-box {
    height: 30%;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 200%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100vw;
    background: var(--lightgrey);
    color: var(--darkgrey);
    font-size: 150%;
}