body {
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(135deg, #111, #2d2d2d);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  color: #268cff;
  font-size: 72px;
}

.logo span {
  color: white;
}

.slogan {
  color: white;
  font-size: 24px;
  margin-top: -20px;
}

#emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


#emailInput {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
}

button {
  background-color: #268cff;
  color: white;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  width: 200px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a6fdb;
}

button:active {
  background-color: #0f5ac8;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

#checkmark {
  color: green;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-69%);
  font-size: 24px;
}

.hidden {
  display: none;
}

#successMessage {
  color: #28a745;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

#errorMessage {
  color: #dc3545;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
